.kbrand {
    border-radius: 157px;
    border: 5px solid #f54a85;
    padding: 18px;
    width: 90%;
    margin-bottom: 20px;
}

.explore-img-big {
    width: 100%;
    border-radius: 5px;
    margin-top: 30px;
}

.explore-content {
    display: inline-flex;
    font-size: 136px;
}

.explore-head {
    font-size: 46px;
    text-transform: uppercase;
    line-height: 0px;
}


/*********** MEDIA QUERY FOR MOBILE,TABLET & LAPTOP RESPONSIVE ***********/


@media screen and (min-width: 280px) and (max-width: 320px) {
    .kbrand {
        border-radius: 157px;
        border: 2px solid #f54a85;
        padding: 7px;
        width: 90%;
        margin-bottom: 20px;
    }
    .explore-head {
        font-size: 25px;
        text-transform: uppercase;
        line-height: 15px;
    }
    .explore-content {
        display: inline-flex;
        font-size: 84px;
        line-height: 88px;
    }
    .kids-explore h5 {
        font-size: 18px;
    }
    
    .kids-section .section {
        padding: 32px 38px;
        margin: 0px !important;
    }
    
    .kids-section .col-md-2 {
        width: 33%;
    }
    .explore-img-big {
        width: 243px;
        border-radius: 5px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 321px) and (max-width: 360px) {
    .kbrand {
        border-radius: 157px;
        border: 3px solid #f54a85;
        padding: 5px;
        width: 90%;
        margin-bottom: 20px;
    }
    .explore-head {
        font-size: 25px;
        text-transform: uppercase;
        line-height: 15px;
    }
    .explore-content {
        display: inline-flex;
        font-size: 84px;
        line-height: 88px;
    }
    .kids-explore h5 {
        font-size: 18px;
    }
    
    .kids-section .section {
        padding: 32px 38px;
    }
    
    .kids-section .col-md-2 {
        width: 33%;
    }
    .explore-img-big {
        width: 283px;
        border-radius: 5px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 361px) and (max-width: 375px) {
    .kbrand {
        border-radius: 157px;
        border: 3px solid #f54a85;
        padding: 5px;
        width: 90%;
        margin-bottom: 20px;
    }
    .explore-head {
        font-size: 25px;
        text-transform: uppercase;
        line-height: 15px;
    }
    .explore-content {
        display: inline-flex;
        font-size: 84px;
        line-height: 88px;
    }
    .kids-explore h5 {
        font-size: 18px;
    }
    
    .kids-section .section {
        padding: 32px 38px;
    }
    
    .kids-section .col-md-2 {
        width: 33%;
    }
    .explore-img-big {
        width: 297px;
        border-radius: 5px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 376px) and (max-width: 390px) {
    .kbrand {
        border-radius: 157px;
        border: 3px solid #f54a85;
        padding: 5px;
        width: 90%;
        margin-bottom: 20px;
    }
    .explore-head {
        font-size: 25px;
        text-transform: uppercase;
        line-height: 15px;
    }
    .explore-content {
        display: inline-flex;
        font-size: 84px;
        line-height: 88px;
    }
    .kids-explore h5 {
        font-size: 18px;
    }
    
    .kids-section .section {
        padding: 32px 38px;
    }
    
    .kids-section .col-md-2 {
        width: 33%;
    }
    .explore-img-big {
        width: 315px;
        border-radius: 5px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 391px) and (max-width: 393px) {
    .kbrand {
        border-radius: 157px;
        border: 3px solid #f54a85;
        padding: 5px;
        width: 90%;
        margin-bottom: 20px;
    }
    .explore-head {
        font-size: 25px;
        text-transform: uppercase;
        line-height: 15px;
    }
    .explore-content {
        display: inline-flex;
        font-size: 84px;
        line-height: 88px;
    }
    .kids-explore h5 {
        font-size: 18px;
    }
    
    .kids-section .section {
        padding: 32px 38px;
    }
    
    .kids-section .col-md-2 {
        width: 33%;
    }
    .explore-img-big {
        width: 315px;
        border-radius: 5px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}


@media screen and (min-width: 394px) and (max-width: 412px) {
    .kbrand {
        border-radius: 157px;
        border: 3px solid #f54a85;
        padding: 5px;
        width: 90%;
        margin-bottom: 20px;
    }
    .explore-head {
        font-size: 25px;
        text-transform: uppercase;
        line-height: 15px;
    }
    .explore-content {
        display: inline-flex;
        font-size: 84px;
        line-height: 88px;
    }
    .kids-explore h5 {
        font-size: 18px;
    }

    .kids-section .section {
        padding: 32px 38px;
    }

    .kids-section .col-md-2 {
        width: 33%;
    }
    .explore-img-big {
        width: 337px;
        border-radius: 5px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 413px) and (max-width: 414px) {
    .kbrand {
        border-radius: 157px;
        border: 3px solid #f54a85;
        padding: 5px;
        width: 90%;
        margin-bottom: 20px;
    }
    .explore-head {
        font-size: 25px;
        text-transform: uppercase;
        line-height: 15px;
    }
    .explore-content {
        display: inline-flex;
        font-size: 84px;
        line-height: 88px;
    }
    .kids-explore h5 {
        font-size: 18px;
    }

    .kids-section .section {
        padding: 32px 38px;
    }

    .kids-section .col-md-2 {
        width: 33%;
    }
    .explore-img-big {
        width: 335px;
        border-radius: 5px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 415px) and (max-width: 540px) {
    .kbrand {
        border-radius: 157px;
        border: 3px solid #f54a85;
        padding: 12px;
        width: 90%;
        margin-bottom: 20px;
    }
    .explore-head {
        font-size: 25px;
        text-transform: uppercase;
        line-height: 15px;
    }
    .explore-content {
        display: inline-flex;
        font-size: 84px;
        line-height: 88px;
    }
    .kids-explore h5 {
        font-size: 18px;
    }

    .kids-section .section {
        padding: 32px 38px;
    }

    .kids-section .col-md-2 {
        width: 33%;
    }
    .explore-img-big {
        width: 100%;
        border-radius: 5px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
    .kbrand {
        border-radius: 157px;
        border: 3px solid #f54a85;
        padding: 5px;
        width: 90%;
        margin-bottom: 20px;
    }

    .explore-head {
        font-size: 25px;
        text-transform: uppercase;
        line-height: 15px;
    }

    .explore-content {
        display: inline-flex;
        font-size: 103px;
        line-height: 88px;
    }

    .kids-explore h5 {
        font-size: 9px;
    }
}

@media screen and (min-width: 769px) and (max-width: 820px) {
    .kbrand {
        border-radius: 157px;
        border: 3px solid #f54a85;
        padding: 5px;
        width: 90%;
        margin-bottom: 20px;
    }

    .explore-head {
        font-size: 25px;
        text-transform: uppercase;
        line-height: 15px;
    }

    .explore-content {
        display: inline-flex;
        font-size: 103px;
        line-height: 88px;
    }
}

@media screen and (min-width: 821px) and (max-width: 912px) {
    .kbrand {
        border-radius: 157px;
        border: 3px solid #f54a85;
        padding: 5px;
        width: 90%;
        margin-bottom: 20px;
    }

    .explore-head {
        font-size: 30px;
        text-transform: uppercase;
        line-height: 36px;
    }

    .explore-content {
        display: inline-flex;
        font-size: 136px;
        line-height: 88px;
    }
}

@media screen and (min-width: 913px) and (max-width: 1024px) {
    .kbrand {
        border-radius: 157px;
        border: 3px solid #f54a85;
        padding: 18px;
        width: 90%;
        margin-bottom: 20px;
    }

    .explore-head {
        font-size: 32px;
        text-transform: uppercase;
    }

}

@media screen and (min-width: 1025px) and (max-width: 1280px) {}

@media screen and (min-width: 1281px) and (max-width: 1440px) {}