.cart-main{
    padding: 20px;
}
.cart-col {
    margin: 20px;
    padding: 28px 33px !important;
}
.left input[type="checkbox"] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.cart-product{
    width: 100%;
}
.product-des {
    font-size: 18px;
    font-weight: 500;
    color: #414141;
    margin-bottom: 5px;
}
.inner-content{
    font-size: 13px;
    margin-bottom: 10px;
}
select {
    background: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.check {
    color: #f05d2c;
    font-size: 20px;
}
.cart-col h5 {
    text-align: center;
    margin-top: 25px;
}
.buy-button {
    background: #ffd814;
    border: none;
    width: 100%;
    margin-top: 14px;
    border-radius: 7px;
    padding: 7px;
    font-weight: 600;
    display: block;
    text-align: center;
}
.buy-col {
    height: 218px;
    border: 1px solid lightgray;
    border-radius: 15px;
}
.related-item-col{
    margin-top: 64px;
    border: 1px solid lightgray;
    border-radius: 15px;
    width: 333px;
    margin-left: -31px;
    padding: 23px;
}
.related-product{
    width: 100%;
    height: 80px;
}