.beauty-brand{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 97px;
    height: 196px;
}
.category-img {
    margin-bottom: 20px;
}



/*********** MEDIA QUERY FOR MOBILE,TABLET & LAPTOP RESPONSIVE ***********/


@media screen and (min-width: 280px) and (max-width: 320px) {
    .single-category {
        text-align: center;
    }
    .beauty-brand-row .row {
        min-width: auto;
    }
    .beauty-brand-row .col-md-2 {
        width: 33%;
        text-align: center;
        height: 93px;
    }
}

@media screen and (min-width: 321px) and (max-width: 360px) {
    .single-category {
        text-align: center;
    }
    .beauty-brand-row .row {
        min-width: auto;
    }
    .beauty-brand-row .col-md-2 {
        width: 33%;
        text-align: center;
        height: 93px;
    }
}

@media screen and (min-width: 361px) and (max-width: 375px) {
    .single-category {
        text-align: center;
    }
    .beauty-brand-row .row {
        min-width: auto;
    }
    .beauty-brand-row .col-md-2 {
        width: 33%;
        text-align: center;
        height: 93px;
    }
}

@media screen and (min-width: 376px) and (max-width: 390px) {
    .single-category {
        text-align: center;
    }
    .beauty-brand-row .row {
        min-width: auto;
    }
    .beauty-brand-row .col-md-2 {
        width: 33%;
        text-align: center;
        height: 93px;
    }
}

@media screen and (min-width: 391px) and (max-width: 393px) {
    .single-category {
        text-align: center;
    }
    .beauty-brand-row .row {
        min-width: auto;
    }
    .beauty-brand-row .col-md-2 {
        width: 33%;
        text-align: center;
        height: 93px;
    }
}

@media screen and (min-width: 394px) and (max-width: 412px) {
    .single-category {
        text-align: center;
    }
    .beauty-brand-row .row {
        min-width: auto;
    }
    .beauty-brand-row .col-md-2 {
        width: 33%;
        text-align: center;
        height: 93px;
    }
}

@media screen and (min-width: 413px) and (max-width: 414px) {
    .single-category {
        text-align: center;
    }
    .beauty-brand-row .row {
        min-width: auto;
    }
    .beauty-brand-row .col-md-2 {
        width: 33%;
        text-align: center;
        height: 93px;
    }
}

@media screen and (min-width: 415px) and (max-width: 540px) {
    .single-category {
        text-align: center;
    }
    .beauty-brand-row .row {
        min-width: auto;
    }
    .beauty-brand-row .col-md-2 {
        width: 33%;
        text-align: center;
    }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
    .beauty-brand-row .row {
        min-width: 100vw;
    }
}

@media screen and (min-width: 769px) and (max-width: 820px) {
    .beauty-brand-row .row {
        min-width: 100vw;
    }
}

@media screen and (min-width: 821px) and (max-width: 912px) {
}

@media screen and (min-width: 913px) and (max-width: 1024px) {

}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
}
