.banner{
    width: 100%;
}
.top-right {
    position: absolute;
    top: 247px;
    right: 45px;
}
.top-right p {
    color: white;
    font-family: cursive;
    font-size: 32px;
    font-weight: 500;
}
.top-right h1 {
    color: white;
    font-size: 94px;
    font-family: emoji;
    font-weight: 900;
}
.top-right button {
    float: right;
    margin-top: 20px;
    background: #171c1e;
    border: none;
    color: white;
    padding: 10px 24px;
    border-radius: 30px;
    font-weight: 600;
    transition: all 0.3s ease-out;
}
.top-right button:hover{
    box-shadow: inset 12em 0 #e9bdb6;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.main-page{
    padding-top: 120px;
    text-align: center;
    font-family: emoji;
}
.heading{
    font-size: 48px;
    font-weight: 800;
    color: #171c1e;
    margin-bottom: 85px;
}
.category-area {
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 67px;
}
.single-category .category-img {
    position: relative;
    width: 398px;
    overflow: hidden;
}
.single-category .category-img img {
    width: 398px;
    transform: scale(1);
    transition: .5s;
    border-radius: 6px;
}
.single-category .category-img img:hover {
    transform: scale(1.5);
    opacity: .8;
  }
.category-area .single-category .category-img .category-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 22px;
}
.category-area .single-category .category-img .category-caption h2 {
    color: #1f1f1f;
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: capitalize;
    margin-bottom: 13px;
}
.category-area .single-category .category-img .category-caption .best a {
    color: #000000;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    text-transform: capitalize;
    background: #ffce25;
    padding: 13px 24px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s ease-out;
}
.category-area .single-category .category-img .category-caption .best a:hover{
    box-shadow: inset 12em 0 #171c1e;
    cursor: pointer;
    color: white !important;
}
.tab {
    list-style-type: none;
    display: inline-flex;
    padding: 12px 22px;
    font-size: 20px;
    font-weight: 500;
    color: #c5c1c1;
}
.select-tab{
    color: red;
    border: none;
}
.select-tab:focus{
    border: none;
}
.tab-content {
    padding: 60px 50px;
}
.product-col{
    position: relative;
    width: 421px !important;
    overflow: hidden;
}
.product-img {
    padding-top: 25px;
    width: 421px;
    transform: scale(1);
    transition: .5s;
    border-radius: 6px;
}
.product-img:hover{
    transform: scale(0.9);
}
.lf-padding {
    padding-left: 60px;
    padding-right: 60px;
}
.latest-wrapper .latest-area {
    position: relative;
}
.latest-height {
    height: 400px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.latest-caption {
    position: relative;
    z-index: 1;
}
.latest-caption h2 {
    color: #000;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 19px;
    font-family: emoji;
}
.latest-caption p {
    color: #373b41;
    font-size: 20px;
    margin-bottom: 55px;
    font-family: emoji;
}
.latest-subscribe form {
    position: relative;
}
.latest-subscribe form input {
    height: 60px;
    width: 100%;
    padding: 10px 32px;
    border: 1px solid #fff;
    border-radius: 30px;
}
.latest-subscribe form button {
    padding: 20px 47px;
    background: #2577fd;
    font-size: 14px;
    font-weight: 300;
    position: absolute;
    right: 0;
    border: 0;
    cursor: pointer;
    top: 0;
    color: #fff;
    border-radius: 30px;
}