.product-detail-section {
    padding: 20px;
}

.subtitle {
    color: lightgray;
}

.product-detail-section button {
    border: 1px solid lightgrey;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    padding: 5px 10px;
}

.product-detail-section button:hover {
    border: 1px solid black;
}

.star-icon {
    color: #06acc7;
}

.product-detail-section hr {
    border: 1px solid rgb(192, 192, 192);
}

button.size-button {
    display: inline-flex;
    margin: 3px;
    border-radius: 54px;
    font-size: 13px;
    padding: 12px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.size-button:hover {
    border: 1px solid #f47526 !important;
    color: #f47526;
}

.product-detail-section .bag-button {
    background: #f47526;
    border: none;
    color: white;
    font-weight: 600;
    width: 100%;
    padding: 13px;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 20px;
}

.product-detail-section .bag-button:hover {
    background: #f47526;
    border: none;
}

.product-detail-section .bag-button .bag-icon {
    margin-right: 10px;
    font-size: 25px;
}

.product-detail-section .wishlist-button {
    border: 1px solid #f47526;
    border-radius: 5px;
    font-weight: 600;
    padding: 13px;
    font-size: 15px;
    width: 100%;
    margin-top: 20px;
}

.product-detail-section .wishlist-button:hover {
    border: 1px solid #f47526;
}

.rating-section {
    margin: 25px !important;
}

.rating-section h5 {
    margin-bottom: 38px;
}

.rating-inner-section {
    border-right: 1px solid lightgrey;
}

.progress-section {
    margin-left: 30px;
}

.progress-bar {
    height: 8px !important;
    background-color: lightgrey !important;
}

.progress {
    height: 8px !important;
    margin-top: 14px;
}

.detail-section {
    margin: 25px !important;
}

.detail-section h5 {
    margin-bottom: 38px;
}

.detail-section p {
    line-height: 9px;
}

.detail-product-img{
    width: 385px ;
}



/*********** MEDIA QUERY FOR MOBILE,TABLET & LAPTOP RESPONSIVE ***********/


@media screen and (min-width: 280px) and (max-width: 320px) {
    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0px !important;
        margin-right:0px !important;
        margin-left: 0px !important;
    }
    .prduct-detail-img {
        margin-top: 26px !important;
    }
    .prduct-detail-img .col-md-7{
        width: 100% !important;
    }
    .prduct-detail-img .col-md-5{
        width: 100% !important;
    }
    .progress-section {
        margin-left: 0px;
    }
    .rating-inner-section {
        border-right: none;
    }
    .detail-product-img {
        width: 100%;
        margin-bottom: 10px;
    }
    .rating-section {
        margin: 0px !important;
        padding: 0px !important;
    }
    .prduct-detail-img .col-md-6 {
        padding: 0px;
    }
    .prduct-detail-img .col-md-7 {
        padding: 0px;
    }
    .prduct-detail-img .col-md-5 {
        padding: 0px;
    }
    .product-detail-section {
        padding: 20px 0px;
    }
    .detail-section {
        margin: 25px 0px !important;
    }
}

@media screen and (min-width: 321px) and (max-width: 360px) {
    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0px !important;
        margin-right:0px !important;
        margin-left: 0px !important;
    }
    .prduct-detail-img {
        margin-top: 26px !important;
    }
    .prduct-detail-img .col-md-7{
        width: 100% !important;
    }
    .prduct-detail-img .col-md-5{
        width: 100% !important;
    }
    .progress-section {
        margin-left: 0px;
    }
    .rating-inner-section {
        border-right: none;
    }
    .detail-product-img {
        width: 100%;
        margin-bottom: 10px;
    }
    .rating-section {
        margin: 0px !important;
        padding: 0px !important;
    }
    .prduct-detail-img .col-md-6 {
        padding: 0px;
    }
    .prduct-detail-img .col-md-7 {
        padding: 0px;
    }
    .prduct-detail-img .col-md-5 {
        padding: 0px;
    }
    .product-detail-section {
        padding: 20px 0px;
    }
    .detail-section {
        margin: 25px 0px !important;
    }
}

@media screen and (min-width: 361px) and (max-width: 375px) {
    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0px !important;
        margin-right:0px !important;
        margin-left: 0px !important;
    }
    .prduct-detail-img {
        margin-top: 26px !important;
    }
    .prduct-detail-img .col-md-7{
        width: 100% !important;
    }
    .prduct-detail-img .col-md-5{
        width: 100% !important;
    }
    .progress-section {
        margin-left: 0px;
    }
    .rating-inner-section {
        border-right: none;
    }
    .detail-product-img {
        width: 100%;
        margin-bottom: 10px;
    }
    .rating-section {
        margin: 0px !important;
        padding: 0px !important;
    }
    .prduct-detail-img .col-md-6 {
        padding: 0px;
    }
    .prduct-detail-img .col-md-7 {
        padding: 0px;
    }
    .prduct-detail-img .col-md-5 {
        padding: 0px;
    }
    .product-detail-section {
        padding: 20px 0px;
    }
    .detail-section {
        margin: 25px 0px !important;
    }
}

@media screen and (min-width: 376px) and (max-width: 390px) {
    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0px !important;
        margin-right:0px !important;
        margin-left: 0px !important;
    }
    .prduct-detail-img {
        margin-top: 26px !important;
    }
    .prduct-detail-img .col-md-7{
        width: 100% !important;
    }
    .prduct-detail-img .col-md-5{
        width: 100% !important;
    }
    .progress-section {
        margin-left: 0px;
    }
    .rating-inner-section {
        border-right: none;
    }
    .detail-product-img {
        width: 100%;
        margin-bottom: 10px;
    }
    .rating-section {
        margin: 0px !important;
        padding: 0px !important;
    }
    .prduct-detail-img .col-md-6 {
        padding: 0px;
    }
    .prduct-detail-img .col-md-7 {
        padding: 0px;
    }
    .prduct-detail-img .col-md-5 {
        padding: 0px;
    }
    .product-detail-section {
        padding: 20px 0px;
    }
    .detail-section {
        margin: 25px 0px !important;
    }
}

@media screen and (min-width: 391px) and (max-width: 393px) {
    .prduct-detail-img .col-md-6 {
        width: 50%;
    }
    .progress-section {
        margin-left: 0px;
    }
    .prduct-detail-img p{
        margin-top: 20px;
    }
    .rating-section .col-md-4 {
        width: 40%;
    }
    .rating-section .col-md-5{
        width: 55%;
    }
    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0px !important;
        margin-right:0px !important;
        margin-left: 0px !important;
    }
    .prduct-detail-img {
        margin-top: 26px;
    }
    .prduct-detail-img .col-md-7{
        width: 100% !important;
    }
    .prduct-detail-img .col-md-5{
        width: 100% !important;
    }
    .progress-section {
        margin-left: 0px;
    }
    .rating-inner-section {
        border-right: none;
    }
    .detail-product-img {
        width: 100%;
    }
    .rating-section {
        margin: 0px !important;
        padding: 0px !important;
    }
    .prduct-detail-img .col-md-6 {
        padding: 0px;
    }
    .prduct-detail-img .col-md-7 {
        padding: 0px;
    }
    .prduct-detail-img .col-md-5 {
        padding: 0px;
    }
    .product-detail-section {
        padding: 20px 0px;
    }
    .detail-section {
        margin: 25px 0px !important;
    }
}

@media screen and (min-width: 394px) and (max-width: 412px) {
    .prduct-detail-img .col-md-6 {
        width: 50%;
    }

    .progress-section {
        margin-left: 0px;
    }
    .prduct-detail-img p{
        margin-top: 20px;
    }
    .rating-section .col-md-4 {
        width: 40%;
    }
    .rating-section .col-md-5{
        width: 55%;
    }
    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0px !important;
        margin-right:0px !important;
        margin-left: 0px !important;
    }
    .prduct-detail-img {
        margin-top: 26px;
    }
    .prduct-detail-img .col-md-7{
        width: 100% !important;
    }
    .prduct-detail-img .col-md-5{
        width: 100% !important;
    }
    .progress-section {
        margin-left: 0px;
    }
    .rating-inner-section {
        border-right: none;
    }
    .detail-product-img {
        width: 100%;
    }
    .rating-section {
        margin: 0px !important;
    }
    .rating-section {
        margin: 0px !important;
        padding: 0px !important;
    }
    .prduct-detail-img .col-md-6 {
        padding: 0px;
    }
    .prduct-detail-img .col-md-7 {
        padding: 0px;
    }
    .prduct-detail-img .col-md-5 {
        padding: 0px;
    }
    .product-detail-section {
        padding: 20px 0px;
    }
    .detail-section {
        margin: 25px 0px !important;
    }
}

@media screen and (min-width: 413px) and (max-width: 414px) {
    .prduct-detail-img .col-md-6 {
        width: 50%;
    }
    .progress-section {
        margin-left: 0px;
    }
    .prduct-detail-img p{
        margin-top: 20px;
    }
    .rating-section .col-md-4 {
        width: 40%;
    }
    .rating-section .col-md-5{
        width: 55%;
    }
    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0px !important;
        margin-right:0px !important;
        margin-left: 0px !important;
    }
    .prduct-detail-img {
        margin-top: 26px;
    }
    .prduct-detail-img .col-md-7{
        width: 100% !important;
    }
    .prduct-detail-img .col-md-5{
        width: 100% !important;
    }
    .progress-section {
        margin-left: 0px;
    }
    .rating-inner-section {
        border-right: none;
    }
    .detail-product-img {
        width: 100%;
    }
    .rating-section {
        margin: 0px !important;
        padding: 0px !important;
    }
    .prduct-detail-img .col-md-6 {
        padding: 0px;
    }
    .prduct-detail-img .col-md-7 {
        padding: 0px;
    }
    .prduct-detail-img .col-md-5 {
        padding: 0px;
    }
    .product-detail-section {
        padding: 20px 0px;
    }
    .detail-section {
        margin: 25px 0px !important;
    }
}

@media screen and (min-width: 415px) and (max-width: 540px) {
    .prduct-detail-img .col-md-6 {
        width: 50%;
    }
    .progress-section {
        margin-left: 0px;
    }
    .prduct-detail-img p{
        margin-top: 20px;
    }
    .rating-section .col-md-4 {
        width: 40%;
    }
    .rating-section .col-md-5{
        width: 55%;
    }
    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0px !important;
        margin-right:0px !important;
        margin-left: 0px !important;
    }
    .prduct-detail-img {
        margin-top: 26px;
    }
    .prduct-detail-img .col-md-7{
        width: 100% !important;
    }
    .prduct-detail-img .col-md-5{
        width: 100% !important;
    }
    .progress-section {
        margin-left: 0px;
    }
    .rating-inner-section {
        border-right: none;
    }
    .detail-product-img {
        width: 100%;
    }
    .rating-section {
        margin: 0px !important;
        padding: 0px !important;
    }
    .prduct-detail-img .col-md-6 {
        padding: 0px;
    }
    .prduct-detail-img .col-md-7 {
        padding: 0px;
    }
    .prduct-detail-img .col-md-5 {
        padding: 0px;
    }
    .product-detail-section {
        padding: 20px 0px;
    }
    .detail-section {
        margin: 25px 0px !important;
    }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
    .product-detail-section h4{
        font-size: 16px !important;
    }
    .product-detail-section button {
        font-size: 12px !important;
    }
    .product-detail-section h6{
        font-size: 14px !important;
    }
    button.size-button {
        margin-top: 6px;
        margin-bottom: 0px;
    }
    .product-detail-section .bag-button {
        padding: 9px;
    }
    .product-detail-section .wishlist-button {
        padding: 11px;
    }
    .prduct-detail-img {
        margin-top: 26px !important;
    }
    .prduct-detail-img .col-md-7{
        width: 100% !important;
    }
    .prduct-detail-img .col-md-5{
        width: 100% !important;
    }
    .progress-section {
        margin-left: 0px;
    }
    .rating-inner-section {
        border-right: none;
    }
    .rating-section {
        margin: 12px !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 820px) {
    .product-detail-section h4{
        font-size: 16px !important;
    }
    .product-detail-section button {
        font-size: 12px !important;
    }
    .product-detail-section h6{
        font-size: 14px !important;
    }
    button.size-button {
        margin-top: 6px;
        margin-bottom: 0px;
    }
    .product-detail-section .bag-button {
        padding: 9px;
    }
    .product-detail-section .wishlist-button {
        padding: 11px;
    }
    .detail-product-img {
        width: 211px !important;
    }
    .prduct-detail-img {
        margin-top: 26px !important;
    }
}

@media screen and (min-width: 821px) and (max-width: 912px) {
    .product-detail-section h4{
        font-size: 16px !important;
    }
    .product-detail-section button {
        font-size: 12px !important;
    }
    .product-detail-section h6{
        font-size: 14px !important;
    }
    button.size-button {
        margin-top: 6px;
        margin-bottom: 0px;
    }
    .product-detail-section .bag-button {
        padding: 9px;
    }
    .product-detail-section .wishlist-button {
        padding: 11px;
    }
    .detail-product-img {
        width: 237px !important;
    }
}

@media screen and (min-width: 913px) and (max-width: 1024px) {
    .product-detail-section h4{
        font-size: 16px;
    }
    .product-detail-section button {
        font-size: 12px;
    }
    .product-detail-section h6{
        font-size: 14px;
    }
    button.size-button {
        margin-top: 6px;
        margin-bottom: 0px;
    }
    .detail-product-img {
        width: 263px !important;
    }

}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .detail-product-img {
    width: 340px !important;
}
}


@media screen and (min-width: 1281px) and (max-width: 1440px) {
    /* .detail-product-img {
        width: 374px !important;
    } */
}