.sidebar p {
    line-height: 8px;
    color: #7d7d7d !important;
}

.sidebar h5 {
    margin-bottom: 25px;
}

.home-brand {
    width: 90%;
}

.card-content h5 {
    margin-bottom: 24px;
    font-weight: 600;
}
.mobile-filter{
    display: none;
}



/*********** MEDIA QUERY FOR MOBILE,TABLET & LAPTOP RESPONSIVE ***********/


@media screen and (min-width: 280px) and (max-width: 320px) {
    .section {
        padding:60px 23px;
        padding-bottom: 0px;
        font-family: emoji;
    }
    .sidebar {
        min-height: 47px;
        height: 864px;
        overflow-y: scroll;
    }
    .sidebar p{
        line-height: 20px;
        font-size: 14px;
    }
    .filter-section{
        display: none !important;
    }
    .mobile-filter{
        position: relative;
    }
    .mobile-filter .home-filter-button {
        position: absolute;
        top: 20px;
        right: 20px;
        border: none;
        background: transparent;
        font-weight: 700;
        font-size: 13px;
    }
    .popup-content {
        margin: auto;
        background: #fff;
        width: 90% !important;
        padding: 29px !important;
        border: 1px solid #d7d7d7;
        position: absolute !important;
        left: 20px !important;
        height: 436px;
        overflow-y: scroll;
        line-height: 30px;
    }
    .home-brand-section .col-md-2 {
        width: 50%;
    }
    .mobile-filter .card-content h5 {
        margin-bottom: 16px !important;
        font-weight: 600;
        font-size: 17px !important;
    }
}

@media screen and (min-width: 321px) and (max-width: 360px) {
    .section {
        padding:60px 23px;
        padding-bottom: 0px;
        font-family: emoji;
    }
    .sidebar {
        min-height: 47px;
        height: 864px;
        overflow-y: scroll;
    }
    .sidebar p{
        line-height: 20px;
        font-size: 14px;
    }
    .filter-section{
        display: none !important;
    }
    .mobile-filter {
        display: block !important;
        position: relative;
    }
    .mobile-filter .home-filter-button {
        position: absolute;
        top: 20px;
        right: 20px;
        border: none;
        background: transparent;
        font-weight: 700;
        font-size: 17px;
    }
    .popup-content {
        margin: auto;
        background: #fff;
        width: 90% !important;
        padding: 29px !important;
        border: 1px solid #d7d7d7;
        position: absolute !important;
        left: 20px !important;
        height: 436px;
        overflow-y: scroll;
        line-height: 30px;
    }
    .home-brand-section .col-md-2 {
        width: 50%;
    }
    .mobile-filter .card-content h5 {
        margin-bottom: 16px !important;
        font-weight: 600;
        font-size: 17px !important;
    }
}

@media screen and (min-width: 361px) and (max-width: 375px) {
    .section {
        padding:60px 23px;
        padding-bottom: 0px;
        font-family: emoji;
    }
    .sidebar {
        min-height: 47px;
        height: 864px;
        overflow-y: scroll;
    }
    .sidebar p{
        line-height: 20px;
        font-size: 14px;
    }
    .filter-section{
        display: none !important;
    }
    .mobile-filter {
        display: block !important;
        position: relative;
    }
    .mobile-filter .home-filter-button {
        position: absolute;
        top: 20px;
        right: 20px;
        border: none;
        background: transparent;
        font-weight: 700;
        font-size: 14px;
    }
    .popup-content {
        margin: auto;
        background: #fff;
        width: 90% !important;
        padding: 29px !important;
        border: 1px solid #d7d7d7;
        position: absolute !important;
        left: 20px !important;
        height: 383px;
        overflow-y: scroll;
        line-height: 30px;
    }
    .home-brand-section .col-md-2 {
        width: 50%;
    }
    .mobile-filter .card-content h5 {
        margin-bottom: 16px !important;
        font-weight: 600;
        font-size: 20px !important;
    }
}

@media screen and (min-width: 376px) and (max-width: 390px) {
    .section {
        padding:60px 23px;
        padding-bottom: 0px;
        font-family: emoji;
    }
    .sidebar {
        min-height: 47px;
        height: 864px;
        overflow-y: scroll;
    }
    .sidebar p{
        line-height: 20px;
        font-size: 14px;
    }
    .filter-section{
        display: none !important;
    }
    .mobile-filter {
        display: block !important;
        position: relative;
    }
    .mobile-filter .home-filter-button {
        position: absolute;
        top: 20px;
        right: 20px;
        border: none;
        background: transparent;
        font-weight: 700;
        font-size: 17px;
    }
    .popup-content {
        margin: auto;
        background: #fff;
        width: 90% !important;
        padding: 29px !important;
        border: 1px solid #d7d7d7;
        position: absolute !important;
        left: 20px !important;
        height: 539px;
        overflow-y: scroll;
    }
    .home-brand-section .col-md-2 {
        width: 50%;
    }
    .mobile-filter .card-content h5 {
        margin-bottom: 16px !important;
        font-weight: 600;
        font-size: 20px !important;
    }
}

@media screen and (min-width: 391px) and (max-width: 393px) {
    .section {
        padding:60px 23px;
        padding-bottom: 0px;
        font-family: emoji;
    }
    .sidebar {
        min-height: 47px;
        height: 864px;
        overflow-y: scroll;
    }
    .sidebar p{
        line-height: 20px;
        font-size: 14px;
    }
    .filter-section{
        display: none !important;
    }
    .mobile-filter {
        display: block !important;
        position: relative;
    }
    .mobile-filter .home-filter-button {
        position: absolute;
        top: 20px;
        right: 20px;
        border: none;
        background: transparent;
        font-weight: 700;
        font-size: 17px;
    }
    .popup-content {
        margin: auto;
        background: #fff;
        width: 90% !important;
        padding: 29px !important;
        border: 1px solid #d7d7d7;
        position: absolute !important;
        left: 20px !important;
        height: 581px;
        overflow-y: scroll;
    }
    .home-brand-section .col-md-2 {
        width: 50%;
    }
    .mobile-filter .card-content h5 {
        margin-bottom: 16px !important;
        font-weight: 600;
        font-size: 20px !important;
    }
}

@media screen and (min-width: 394px) and (max-width: 412px) {
    .section {
        padding:60px 23px;
        padding-bottom: 0px;
        font-family: emoji;
    }
    .sidebar {
        min-height: 47px;
        height: 864px;
        overflow-y: scroll;
    }
    .sidebar p{
        line-height: 20px;
        font-size: 14px;
    }
    .filter-section{
        display: none !important;
    }
    .mobile-filter {
        display: block !important;
        position: relative;
    }
    .mobile-filter .home-filter-button {
        position: absolute;
        top: 20px;
        right: 20px;
        border: none;
        background: transparent;
        font-weight: 700;
        font-size: 17px;
    }
    .popup-content {
        margin: auto;
        background: #fff;
        width: 90% !important;
        padding: 29px !important;
        border: 1px solid #d7d7d7;
        position: absolute !important;
        left: 20px !important;
        height: 581px;
        overflow-y: scroll;
    }
    .home-brand-section .col-md-2 {
        width: 50%;
    }
}

@media screen and (min-width: 413px) and (max-width: 414px) {
    .section {
        padding:60px 23px;
        padding-bottom: 0px;
        font-family: emoji;
    }
    .sidebar {
        min-height: 47px;
        height: 864px;
        overflow-y: scroll;
    }
    .sidebar p{
        line-height: 20px;
        font-size: 14px;
    }
    .filter-section{
        display: none !important;
    }
    .mobile-filter {
        display: block !important;
        position: relative;
    }
    .mobile-filter .home-filter-button {
        position: absolute;
        top: 20px;
        right: 20px;
        border: none;
        background: transparent;
        font-weight: 700;
        font-size: 17px;
    }
    .popup-content {
        margin: auto;
        background: #fff;
        width: 90% !important;
        padding: 29px !important;
        border: 1px solid #d7d7d7;
        position: absolute !important;
        left: 20px !important;
        height: 581px;
        overflow-y: scroll;
    }
    .home-brand-section .col-md-2 {
        width: 50%;
    }
}

@media screen and (min-width: 415px) and (max-width: 540px) {
    .section {
        padding:60px 23px;
        padding-bottom: 0px;
        font-family: emoji;
    }
    .sidebar {
        min-height: 47px;
        height: 864px;
        overflow-y: scroll;
    }
    .sidebar p{
        line-height: 20px;
        font-size: 14px;
    }
    .filter-section{
        display: none !important;
    }
    .mobile-filter{
        display: block !important;
        position: relative;
    }
    .mobile-filter .home-filter-button {
        position: absolute;
        top: 20px;
        right: 20px;
        border: none;
        background: transparent;
        font-weight: 700;
        font-size: 17px;
    }
    .popup-content {
        margin: auto;
        background: #fff;
        width: 93% !important;
        padding: 29px !important;
        border: 1px solid #d7d7d7;
        position: absolute !important;
        left: 20px !important;
        height: 368px;
        overflow-y: scroll;
    }
    .home-brand-section .col-md-2 {
        width: 33%;
    }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
    .section {
        padding: 120px 23px;
        padding-bottom: 0px;
        font-family: emoji;
    }
    .sidebar {
        min-height: 47px;
        height: 864px;
        overflow-y: scroll;
    }
    .sidebar p{
        line-height: 20px;
        font-size: 14px;
    }
    .mobile-filter{
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 820px) {
    .section {
        padding: 120px 23px;
        padding-bottom: 0px;
        font-family: emoji;
    }
    .sidebar {
        min-height: 47px;
        height: 940px;
        overflow-y: scroll;
    }
    .mobile-filter{
        display: none !important;
    }
}

@media screen and (min-width: 821px) and (max-width: 912px) {
    .sidebar {
        min-height: 47px;
        height: 1001px;
        overflow-y: scroll;
    }
    .mobile-filter{
        display: none !important;
    }
}

@media screen and (min-width: 913px) and (max-width: 1024px) {
    .sidebar {
        min-height: 47px;
        height: 1123px;
        overflow-y: scroll;
    }
    .mobile-filter{
        display: none !important;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {}
.mobile-filter{
    display: none;
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
    .mobile-filter{
        display: none !important;
    }
}
