.shop-button {
    position: absolute;
    top: 500px;
    right: 481px;
}

.shop-button button {
    float: right;
    margin-top: 20px;
    background: #171c1e;
    border: none;
    color: white;
    padding: 10px 24px;
    border-radius: 30px;
    font-weight: 600;
}
.section {
    padding: 120px 64px;
    padding-bottom: 0px;
    font-family: emoji;
}
.inner-heading {
    font-size: 38px;
    font-weight: 600;
    color: #171c1e;
    margin-bottom: 85px;
    text-align: left;
    letter-spacing: 2px;
}
.brand-product {
    width: 100%;
    height: 350px;
    border-radius: 9px;
    border: 1px solid #f1f1f1;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    margin-bottom: 20px;
    transform: scale(1);
    transition: .5s;
}
.brand-product:hover {
    transform: scale(0.9);
}
.brand{
    display: flex;
    margin: 0 auto;
}
.Shirt-section{
    margin-top: 30px;
    margin-left: 10px !important;
}
.Shirt-section label {
    margin-right: 10px;
}
.Shirt-section .select{
    float: right;
    margin-right: 10px !important;
}
.Shirt-section hr{
    margin-top: 10px;
}
.filter-section{
    margin-top: 20px !important;
    border-top: 1px solid lightgrey;
}
.filter-left{
    border-right: 1px solid lightgrey;
}
.filter-left p{
    padding-top: 20px;
    font-size: 13px;
}
.filter-left  input[type="checkbox"] {
    margin-right: 10px;
}
.filter-left .checkbox-label{
    font-size: 14px;
    color: rgb(116, 114, 114);
}
.colorball{
    margin-top: -4px;
    margin-right: 10px;
}
.filter-section .filter-left input[type="radio"] {
    transform: scale(1.0);
    float: left;
    margin-top: 6px;
    margin-right: 10px;
}
.filter-right {
    padding: 20px 40px !important;
    overflow: scroll;
    height: 846px;
    overflow-x: hidden;
}
.filter-right::-webkit-scrollbar {
    display: none;
}
.product-cat-col {
    position: relative;
    margin-top: 30px !important;
}
.product-cat-col .wishlist-icon{
    position: absolute;
    font-size: 24px;
    right: 20px;
    top: 9px;
    color: #ef6131;
}
.filter-right .product-cat-col h6{
    margin-top: 20px;
}
.product-cat-col p {
    font-size: 16px !important;
    color: gray;
}
.product-cat-col h5 {
    font-size: 15px;
    margin-top: -5px !important;
}
.tshirt-filter-right{
    padding: 20px 40px !important;
    overflow: scroll;
    height: 947px;
    overflow-x: hidden;
}
.tshirt-filter-right::-webkit-scrollbar {
    display: none;
}