.checkoutmain-col {
    margin-right: 3px !important;
    margin-top: 16px !important;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 20px;
}
.pin-button {
    text-transform: uppercase;
    font-size: 13px;
    border: 2px solid #d24011 !important;
    background: transparent;
    color: #d24011;
    font-weight: 600;
    padding: 9px;
}
.discount-icon{
    font-size: 30px;
}
.offer-list {
    margin-left: 24px;
    padding-top: 20px;
    line-height: 29px;
    font-size: 13px;
    margin-top: 42px;
}
.wishlist-icon{
    font-size: 25px;
}
.next-icon{
    font-size: 25px;
}
.right-col {
    margin-right: 3px !important;
    margin-top: 16px !important;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
    /* height: 100%; */
}
.apply-button {
    text-transform: uppercase;
    font-size: 13px;
    border: 2px solid #d24011 !important;
    background: transparent;
    color: #d24011;
    font-weight: 600;
    padding: 3px 26px;
    margin-bottom: 1rem;
}
.p-text-small{
    font-size: 14px;
}
.right-col table {
    /* margin-left: 11px; */
    line-height: 27px;
    MARGIN-BOTTOM: 15PX;
}
.place-order-button {
    width: 100%;
    PADDING: 10PX;
    BORDER: none;
    background: #f47526;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}
.price-col{
    padding: 20px;
    line-height: 35px;
}
.address-page input {
    margin-bottom: 10px;
    width: 100%;
    padding: 11px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-top: 10px;
}
.form-heading{
    margin-top: 10px;

}
.add-address-button {
    width: 100%;
    PADDING: 10PX;
    BORDER: none;
    background: #f47526;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 20px;
}
.footer-payment{
    display: inline-block;
    margin-top: 35px;
}
.address-col {
    background: #f47526;
    color: white;
    line-height: 37px;
    font-weight: 600;
    margin-bottom: 21px;
}
.address-col p{
    margin-bottom: 0px;
}
input[type="radio"] {
    transform: scale(1.5);
    float: right;
}