.login-header {
    box-shadow: rgb(255 255 255 / 0%) 0px 1px 1px 0px inset, rgb(50 50 93 / 13%) 0px 50px 100px -20px, rgb(0 0 0 / 0%) 0px 30px 60px -30px;
    margin-bottom: 82px;
}

.Login-main {
    width: 35%;
    margin: 0 auto;
    text-align: center;
    background: #f3692821;
    height: 588px;
    border-radius: 25px;
    padding: 30px;
}

.Login-main h4 {
    font-weight: 700;
    color: #3c3b3b;
}

.coupon-code {
    border: 2px dashed #9b9999;
    border-radius: 5px;
    padding: 3px 10px;
}

.login {
    margin-top: 29px;
    background: white;
    padding: 20px;
}

.login h5 {
    color: #f55b28;
    font-weight: 700;
}

input#phone {
    width: 100%;
    background: transparent;
    border: none;
    padding: 10px;
    box-shadow: rgb(99 99 99 / 57%) 0px 2px 8px 0px;
    margin-top: 20px;
}

input#phone:hover {
    box-shadow: rgb(245 91 40 / 41%) 0px 2px 8px 0px;
}

.login-terms {
    margin-top: 12px;
    font-size: 15px;
    text-align: left;
}

form button {
    width: 100%;
    margin-top: 20px;
    background: #171c1e;
    border: none;
    color: white;
    padding: 10px 24px;
    border-radius: 30px;
    font-weight: 600;
    transition: all 0.3s ease-out;
    font-size: 18px;
}

form button:hover {
    box-shadow: inset 25em 0 #f55b28;
    cursor: pointer;
    color: rgb(0, 0, 0);
    border: none;
}

.otp-main h4 {
    margin-top: 20px
}

.UserInput {
    Display: Flex;
    Justify-Content: Center;
}

.UserInput Input {
    Margin: 10px;
    Height: 56px;
    Width: 46px;
    Border: None;
    Border-Radius: 5px;
    Text-Align: Center;
    Font-Family: Arimo;
    Font-Size: 1.2rem;
    Background: transparent;
    border: 1px solid lightgrey;
}

.otp-main {
    width: 35%;
    margin: 0 auto;
    text-align: center;
    background: #f3692821;
    height: 442px;
    border-radius: 25px;
    padding: 30px;
    margin-top: 58px;
}



/*********** MEDIA QUERY FOR MOBILE,TABLET & LAPTOP RESPONSIVE ***********/


@media screen and (min-width: 280px) and (max-width: 320px) {
    .main {
        width: 100vw;
        position: fixed;
        z-index: 9999;
        top: 0;
    }
    .Login-main {
        width: 93%;
        margin: 0 auto;
        text-align: center;
        background: #f3692821;
        height: 350px;
        border-radius: 25px;
        padding: 22px;
        margin-top: 103px;
    }
    .UserInput Input {
        Margin: 5px;
        Height: 39px;
        Width: 39px;
        Border: None;
        Border-Radius: 5px;
        Text-Align: Center;
        Font-Family: Arimo;
        Font-Size: 1.2rem;
        Background: transparent;
        border: 1px solid lightgrey;
    }
    .login-mobile-navbar .form-group.has-search {
        display: flex;
        background: #f1f0f0;
        margin-left: 26px;
        width: 237px;
        border-radius: 30px;
        float: right;
        position: absolute;
        right: 6px;
        top: 16px;
    }
    .login-terms {
        margin-top: 12px;
        font-size: 10px;
        text-align: left;
    }
    .Login-main h4 {
        font-weight: 700;
        color: #3c3b3b;
        font-size: 20px;
    }
}

@media screen and (min-width: 321px) and (max-width: 360px) {
    .main {
        width: 100vw;
        position: fixed;
        z-index: 9999;
        top: 0;
    }
    .Login-main {
        width: 93%;
        margin: 0 auto;
        text-align: center;
        background: #f3692821;
        height: auto;
        border-radius: 25px;
        padding: 22px;
        margin-top: 103px;
    }
    .login-mobile-navbar .form-group.has-search {
        display: flex;
        background: #f1f0f0;
        margin-left: 26px;
        width: 237px;
        border-radius: 30px;
        float: right;
        position: absolute;
        right: 6px;
        top: 16px;
    }
    .login-terms {
        margin-top: 12px;
        font-size: 10px;
        text-align: left;
    }
    .Login-main h4 {
        font-weight: 700;
        color: #3c3b3b;
        font-size: 20px;
    }
    .otp-main {
        height: 400px !important;
    }
    .UserInput Input {
        Height: 50px;
        Width: 40px;
    }
}

@media screen and (min-width: 361px) and (max-width: 375px) {
    .main {
        width: 100vw;
        position: fixed;
        z-index: 9999;
        top: 0;
    }
    .Login-main {
        width: 93%;
        margin: 0 auto;
        text-align: center;
        background: #f3692821;
        height: auto;
        border-radius: 25px;
        padding: 22px;
        margin-top: 103px;
    }
    .login-mobile-navbar .form-group.has-search {
        display: flex;
        background: #f1f0f0;
        margin-left: 26px;
        width: 237px;
        border-radius: 30px;
        float: right;
        position: absolute;
        right: 6px;
        top: 16px;
    }
    .login-terms {
        margin-top: 12px;
        font-size: 10px;
        text-align: left;
    }
    .UserInput Input {
        Height: 50px;
        Width: 40px;
    }
    .otp-main {
        height: 380px !important;
    }
}

@media screen and (min-width: 376px) and (max-width: 390px) {
    .main {
        width: 100vw;
        position: fixed;
        z-index: 9999;
        top: 0;
    }
    .Login-main {
        width: 93%;
        margin: 0 auto;
        text-align: center;
        background: #f3692821;
        height: auto;
        border-radius: 25px;
        padding: 30px;
        margin-top: 138px;
    }
    .login-mobile-navbar .form-group.has-search {
        display: flex;
        background: #f1f0f0;
        margin-left: 26px;
        width: 237px;
        border-radius: 30px;
        float: right;
        position: absolute;
        right: 6px;
        top: 10px;
    }
    .login-terms {
        margin-top: 12px;
        font-size: 10px;
        text-align: left;
    }
    .otp-main {
        height: 400px !important;
    }
    .UserInput Input {
        Height: 50px;
        Width: 40px;
    }
}

@media screen and (min-width: 391px) and (max-width: 393px) {
    .main {
        width: 100vw;
        position: fixed;
        z-index: 9999;
        top: 0;
    }
    .Login-main {
        width: 93%;
        margin: 0 auto;
        text-align: center;
        background: #f3692821;
        height: auto;
        border-radius: 25px;
        padding: 30px;
        margin-top: 138px;
    }
    .login-mobile-navbar .form-group.has-search {
        display: flex;
        background: #f1f0f0;
        margin-left: 26px;
        width: 237px;
        border-radius: 30px;
        float: right;
        position: absolute;
        right: 6px;
        top: 10px;
    }
    .login-terms {
        margin-top: 12px;
        font-size: 10px;
        text-align: left;
    }
    .otp-main {
        height: 400px !important;
    }
    .UserInput Input {
        Height: 50px;
        Width: 40px;
    }
}

@media screen and (min-width: 394px) and (max-width: 412px) {
    .main {
        width: 100vw;
        position: fixed;
        z-index: 9999;
        top: 0;
    }
    .Login-main {
        width: 93%;
        margin: 0 auto;
        text-align: center;
        background: #f3692821;
        height: auto;
        border-radius: 25px;
        padding: 30px;
        margin-top: 138px;
    }
    .login-mobile-navbar .form-group.has-search {
        display: flex;
        background: #f1f0f0;
        margin-left: 26px;
        width: 237px;
        border-radius: 30px;
        float: right;
        position: absolute;
        right: 6px;
        top: 10px;
    }
    .otp-main {
        height: 400px !important;
    }
    .UserInput Input {
        Height: 50px;
        Width: 40px;
    }
}

@media screen and (min-width: 413px) and (max-width: 414px) {
    .main {
        width: 100vw;
        position: fixed;
        z-index: 9999;
        top: 0;
    }
    .Login-main {
        width: 93%;
        margin: 0 auto;
        text-align: center;
        background: #f3692821;
        height: auto;
        border-radius: 25px;
        padding: 30px;
        margin-top: 138px;
    }
    .login-mobile-navbar .form-group.has-search {
        display: flex;
        background: #f1f0f0;
        margin-left: 26px;
        width: 237px;
        border-radius: 30px;
        float: right;
        position: absolute;
        right: 6px;
        top: 10px;
    }
    .otp-main {
        height: 400px !important;
    }
}

@media screen and (min-width: 415px) and (max-width: 540px) {
    .main {
        width: 100vw;
        position: fixed;
        z-index: 9999;
        top: 0;
    }
    .Login-main {
        width: 93%;
        margin: 0 auto;
        text-align: center;
        background: #f3692821;
        height: auto;
        border-radius: 25px;
        padding: 30px;
        margin-top: 138px;
    }
    .login-mobile-navbar .form-group.has-search {
        display: flex;
        background: #f1f0f0;
        margin-left: 26px;
        width: 237px;
        border-radius: 30px;
        float: right;
        position: absolute;
        right: 6px;
        top: 10px;
    }
    .otp-main {
        height: 400px !important;
    }
    .UserInput Input {
        Height: 50px;
        Width: 40px;
    }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
    .main {
        width: 100vw;
        position: fixed;
        z-index: 9999;
        top: 0;
    }
    .Login-main {
        width: 60%;
        margin: 0 auto;
        text-align: center;
        background: #f3692821;
        height: auto;
        border-radius: 25px;
        padding: 30px;
        margin-top: 138px;
    }
    .login-mobile-navbar .form-group.has-search {
        display: flex;
        background: #f1f0f0;
        margin-left: 26px;
        width: 237px;
        border-radius: 30px;
        float: right;
        position: absolute;
        right: 6px;
        top: 10px;
    }
    .otp-main {
        height: 400px !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 820px) {
    .main {
        width: 100vw;
        position: fixed;
        z-index: 9999;
        top: 0;
    }
    .Login-main {
        width: 60%;
        margin: 0 auto;
        text-align: center;
        background: #f3692821;
        height: auto;
        border-radius: 25px;
        padding: 30px;
        margin-top: 138px;
    }
    .login-mobile-navbar .form-group.has-search {
        display: flex;
        background: #f1f0f0;
        margin-left: 26px;
        width: 237px;
        border-radius: 30px;
        float: right;
        position: absolute;
        right: 6px;
        top: 10px;
    }
    .otp-main {
        height: 400px !important;
    }
}

@media screen and (min-width: 821px) and (max-width: 912px) {
    .Login-main {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        background: #f3692821;
        height: auto;
        border-radius: 25px;
        padding: 30px;
    }
    .otp-main {
        height: 400px !important;
    }
    .UserInput Input {
        Height: 50px;
        Width: 40px;
    }
}

@media screen and (min-width: 913px) and (max-width: 1024px) {
    .login-header {
        margin-bottom: 13px;
    }
    .login {
        margin-top: 29px;
        background: white;
        padding: 12px;
    }
    .Login-main {
        width: 55%;
        margin: 0 auto;
        text-align: center;
        background: #f3692821;
        height: 500px;
        border-radius: 25px;
        padding: 30px;
    }
    .otp-main {
        height: 400px !important;
        width: 47% !important;
    }
    .UserInput Input {
        Height: 50px;
        Width: 40px;
    }

}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
}
