.order-container{
    padding: 50px 100px;
    width: 70% !important;
}
.username{
    font-size: 13px;
    margin: 0px;
}
.order-tab {
    display: flex;
    margin-left: 0px;
    width: auto;
    height: auto;
    border: none;
    color: black;
    background: transparent;
}
  
  .order-tab__tab-list {
    display: flex;
    flex-direction: column;
    width: 170px;
    margin: 0;
    padding: 0;
    color:black;
    background:transparent;
    border-right: 1px solid lightgrey;
  }
  .order-tab__tab-list ul {
  list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 15%;
  }
  
  .order-tab__tab {
    height: 70px;
    list-style: none;
    padding: 12px 6px;
    cursor: pointer;
    color:black;
    font-size: 15px;
  }
  
  .order-tab__tab--selected {
    background: #1c1d1f;
    border: none !important;
    color: white;
  }
  .react-tabs__tab--selected {
    border: none !important;
    font-weight: 700;
    color: #f1592d;
  }
  
  .order-tab__tab-panel {
    display: none;
    width: 300px;
  }
  
  .order-tab__tab-panel--selected {
    display: block;
    border: none !important;
  }
  .react-tabs__tab-panel--selected{
    border: none !important;
    width: 100%;
  }
  
  .order-tab__tab {
    padding-left: 0px;
  }
  
  .order-tab__tab--selected {
    padding-left:0px;
  }
  
  .order-tab-panel-content {
    padding: 0px 40px;
  }
.profile-box {
    background: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
}
.profile-mail{
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
}
.edit-profile-button {
  width: auto !important;
  position: absolute;
  right: 277px;
  text-transform: uppercase;
  font-size: 12px;
  border: 1px solid;
  background: white;
  font-weight: 600;
}
.other-box {
  border: 1px solid #ebe9e9;
  width: 255px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 255px;
  margin-top: 15px !important;
}
.other-box p {
  font-size: 12px;
  color: #b3afaf;
}
.other-box h6 {
  margin-top: 15px;
  font-weight: 700;
}
.Logout-button {
  margin-top: 20px;
  width: 100%;
  PADDING: 10PX;
  BORDER: none;
  background: #f47526;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}
.filter-button {
  margin-right: 10px;
  background: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 30px;
  padding: 10px 14px;
}
.order-box{
  margin-top: 29px !important;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.deliver{
  color: green;
    font-size: 19px;
}
.star{
  color: orange !important;
    font-size: 19px !important;
}
.cancel{
  color: red;
  font-size: 19px;
}
.coupon-box {
  border: 1px solid #d1d1d1;
  padding: 20px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.coupon-discount {
  border-right: 1px solid #e5e5e5;
  color: #f2592d;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}
.profile-tab-box {
  border: 1px solid #d1d1d1;
  padding: 50px 121px;
  text-align: center;
}
.new-address-button {
  border: 1px solid lightgrey;
  background: transparent;
  color: #f1592d;
  font-weight: 600;
  padding: 8px 18px;
  font-size: 15px;
}
.plus-icon{
  color: #f1592d;
  font-size: 21px;
}
.address-box{
  border: 1px solid #f1f1f1;
  padding: 20px;
  margin-top: 20px;
}
.edit-button {
  border-right: 1px solid lightgrey;
  text-align: center;
}
.edit-button button {
  border: none;
  color: #f1592d;
  background: transparent;
  font-weight: 700;
  font-size: 14px;
}
.remove-button{
  text-align: center;
}
.remove-button button {
  border: none;
  color: #f1592d;
  background: transparent;
  font-weight: 700;
  font-size: 14px;
}