.header {
    display: flex;
    align-items: center;
    position: relative;
    background: white;
    padding: 15px;
}
.active{
    color: #d24011 !important;
}
.header li:hover{
    border-bottom: 2px solid #d24011;
}
/* .active li:hover {
    cursor: not-allowed !important;
} */

.logo{
    width: 10%;
}
.header ul{
    margin: 0px;
}
.header li {
    list-style-type: none;
    font-weight: 600;
    font-size: 14px;
    color: #1c2427;
    display: inline-flex;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.form-group.has-search {
    display: flex;
    background: #f1f0f0;
    margin-left: 26px;
    width: 296px;
    border-radius: 30px;
}
.form-group input{
    border: none;
    background: transparent;
    padding-left: 11px;
    width: 245px;
}
input:focus {
    background-color:transparent;
    outline: none;
}
.search{
    font-size: 39px;
    padding: 7px;
}
.icon{
    justify-content: end;
    margin-right: 0 !important;
    text-align: revert;
    position: absolute;
    right: 15px;
    display: inline-flex;
}
.profile.dropdown button {
    background: transparent;
    border: none;
    color: black;
    padding: 0px;
}
.icon-size{
    font-Size: 37px;
    padding: 8px;
    color: #1c2427;
}
.profile-dropdown {
    width: 319px;
    margin-top: 20px !important;
    border: none !important;
    padding-top: 22px !important;
    box-shadow: rgb(100 100 111 / 50%) 0px 7px 29px 0px;
}
.profile-dropdown p {
    font-size: 15px;
    line-height: 6px;
}
.profile-dropdown button {
    border: 2px solid #d24011 !important;
    padding: 10px 22px !important;
    color: #d24011 !important;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
}
.main{
    position: fixed;
    z-index: 9999;
    top: 0;
}
.link{
    width: 128px;
}
a{
    text-decoration: none !important;
    color: #1c2427 !important;
}